.login-dropdown {
  color: #f0f0f0;
  position: relative;
  /* transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease; */
}
.login-dropdown.open {
  display: block;
  /* transform: translateY(0); 
  animation: slideDown 0.3s linear; */
}
/* @keyframes slideDown {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
} */
.btn {
  background-color: #006400;
  border: none;
  outline: none;
  cursor: pointer;
  color: #333;
  font-size: 16px;
  border-radius: 30px;
  width: 115px;
  height: 45px;
  position: relative;
  top: -5px;
  left: 10px;
  margin-top: 30px;
  z-index: 9999;
}

/* .btn:hover {
  background-color: #a9a9a9;
  position: relative;
  top: -5px;
} */
.btn-label {
  color: #f0f0f0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 115px;
  border-radius: 4px;
  margin-top: 5px;
  margin-left: 10px;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.list-group {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-group-item {
  padding: 5px 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
}

.list-group-item:hover {
  background-color: #f0f0f0;
}

.open .dropdown-content {
  display: block;
}

.caret {
  margin-left: 5px;
}
