.ScottishFoldCat {
  width: 240px;
  height: 340px;
  position: relative;
  background-color: #f5deb3;
  top: 155px;
  left: 50px;
  border-radius: 15px;
}
.catimage {
  width: 210px;
  height: 210px;
  position: relative;
  top: 12px;
  left: 15px;
  border-radius: 10px; 
}
.SFC {
  display: flex;
  position: relative;
  top: -200px;
  left: 300px;
  align-content: center;
  text-align: center;
  font-size: 30px;
}
.Moa8 {
  position: relative;
  top: -200px;
  left: 270px;
  align-content: center;
  text-align: center;
  font-weight: normal;
  color: #a09c9c;
  font-size: 20px;
}
.ATC {
  width: 110px;
  height: 50px;
  font-weight: medium;
  font-size: 20px;
  position: relative;
  top: -62px;
  left: 5px;
}
.ATC:hover {
  background-color: #daa520;
}
.BN {
  width: 110px;
  height: 50px;
  font-weight: medium;
  font-size: 20px;
  position: relative;
  top: -50px;
  left: 15px;
}
.BN:hover {
  background-color: #daa520;
}
.PersianCats {
  width: 240px;
  height: 340px;
  background-color: #f5deb3;
  position: relative;
  top: 155px;
  left: 50px;
  border-radius: 15px;
}
.catimage1 {
  width: 210px;
  height: 210px;
  position: relative;
  top: 12px;
  left: 15px;
  border-radius: 10px;
}
.PCS {
  position: relative;
  top: -200px;
  left: 270px;
  align-content: center;
  text-align: center;
  font-size: 30px;
}
.Moa12 {
  position: relative;
  top: -200px;
  left: 270px;
  align-content: center;
  text-align: center;
  font-size: 20px;
}
.snoeshoe {
  width: 240px;
  height: 340px;
  background-color: #f5deb3;
  position: relative;
  top: 155px;
  left: 50px;
  border-radius: 15px;
}
.catimage2 {
  width: 210px;
  height: 210px;
  position: relative;
  top: 12px;
  left: 15px;
  border-radius: 10px;
}
.SSA {
  position: relative;
  top: -200px;
  left: 270px;
  align-content: center;
  text-align: center;
  font-size: 30px;
}
.Moa6 {
  position: relative;
  top: -200px;
  left: 270px;
  align-content: center;
  text-align: center;
  font-size: 20px;
}
.shorthair {
  width: 240px;
  height: 340px;
  background-color: #f5deb3;
  position: relative;
  top: 155px;
  left: 50px;
  border-radius: 15px;
}
.catimage3 {
  width: 210px;
  height: 210px;
  position: relative;
  top: 12px;
  left: 15px;
  border-radius: 10px;
}
.SHC {
  position: relative;
  top: -200px;
  left: 270px;
  align-content: center;
  text-align: center;
  font-size: 30px;
}
.Moa6 {
  position: relative;
  top: -200px;
  left: 270px;
  align-content: center;
  text-align: center;
  font-size: 20px;
}
