.PersianCats {
  width: 240px;
  height: 340px;
  position: relative;
  top: 155px;
  left: 50px;
  border-radius: 15px;
}
.catimage1 {
  width: 210px;
  height: 210px;
  position: relative;
  top: 12px;
  left: 15px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.PCS {
  position: relative;
  top: 15px;
  left: -35px;
  align-content: center;
  text-align: center;
  font-size: 18px;
}
.Moa12 {
  position: relative;
  top: 15px;
  left: -30px;
  align-content: center;
  text-align: center;
}
