.OBCS {
  background-color: #f5f5f5;
  padding: 0px;
  text-align: center;
}
.OBC {
  font-size: 25px;
  color: #838181;
  margin-bottom: -50px;
  position: relative;
  top: 125px;
  font-weight: bold;
}
.allnames {
  display: flex;
  gap: 40px;
  margin-left: 145px;
  margin-top: -90px;
}
.animal-option {
  background-color: white;
  position: relative;
  top: 235px;
  left: 50px;
  border-radius: 15px;
}
.button {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #ddd;
}
.button.active {
  background-color: #007bff;
  color: #fff;
}
.button.active:hover {
  background-color: #0056b3;
  color: #f0f0f0;
}
.AllPetsforcats {
  display: flex;
  gap: 50px;
  margin-top: 100px;
  margin-left: 175px;
}
.ScottishFold {
  width: 240px;
  height: 340px;
  background-color: #e3f3f3;
  position: relative;
  top: 205px;
  left: 50px;
  border-radius: 15px;
}
.CatImage {
  width: 210px;
  height: 210px;
  position: relative;
  top: 12px;
  left: 15px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.CatImage:hover {
  transform: scale(1.1);
}
.SF {
  position: relative;
  top: 15px;
  left: -30px;
  align-content: center;
  text-align: center;
}
.Mo8 {
  position: relative;
  top: 15px;
  left: -30px;
  align-content: center;
  text-align: center;
  font-weight: normal;
  color: #a09c9c;
  font-size: medium;
}
.More {
  width: 75px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 145px;
  background-color: #e3f3f3;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
.PersianCat {
  width: 240px;
  height: 325px;
  background-color: #e6d8f2;
  position: relative;
  top: 205px;
  left: 50px;
  border-radius: 15px;
}
.CatImage1 {
  /* border-radius: 80px; */
  width: 210px;
  height: 240px;
  position: relative;
  top: 10px;
  left: 15px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.CatImage1:hover {
  transform: scale(1.1);
}

.PC {
  position: relative;
  top: 15px;
  left: -35px;
  align-content: center;
  text-align: center;
  font-size: 18px;
}
.Mo12 {
  position: relative;
  top: 15px;
  left: -30px;
  align-content: center;
  text-align: center;
  font-weight: normal;
  color: #a09c9c;
  font-size: medium;
}
.More {
  width: 75px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 145px;
  background-color: #e3f3f3;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
.Snoeshoe {
  width: 240px;
  height: 325px;
  background-color: #deddfd;
  position: relative;
  top: 205px;
  left: 50px;
  border-radius: 15px;
}
.CatImage2 {
  /* border-radius: 80px; */
  width: 210px;
  height: 240px;
  position: relative;
  top: 10px;
  left: 15px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.CatImage2:hover {
  transform: scale(1.1);
}
.SS {
  position: relative;
  top: 15px;
  left: -26px;
  align-content: center;
  text-align: center;
  font-size: 22px;
}
.Mo6 {
  position: relative;
  top: 15px;
  left: -30px;
  align-content: center;
  text-align: center;
  font-weight: normal;
  color: #a09c9c;
  font-size: medium;
}
.More {
  width: 75px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 145px;
  background-color: #e3f3f3;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
.Shorthair {
  width: 240px;
  height: 325px;
  background-color: #f6ebeb;
  position: relative;
  top: 205px;
  left: 50px;
  border-radius: 15px;
}
.CatImage3 {
  width: 210px;
  height: 240px;
  position: relative;
  top: 10px;
  left: 15px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.CatImage3:hover {
  transform: scale(1.1);
}
.SH {
  position: relative;
  top: 15px;
  left: -35px;
  align-content: center;
  text-align: center;
  font-size: 18px;
}
.Mo6 {
  position: relative;
  top: 15px;
  left: -30px;
  align-content: center;
  text-align: center;
  font-weight: normal;
  color: #a09c9c;
  font-size: medium;
}
.More {
  width: 75px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 145px;
  background-color: #e3f3f3;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
.search-container {
  align-items: center;
  cursor: pointer;
  margin-left: -50px;
  margin-top: 10px;
}
.search-input-field {
  display: inline-block;
  width: 150px;
  height: 30px;
  margin-left: 10px;
}
.SearchandCart {
  display: flex;
  position: relative;
}
.AllPetsforDogs {
  display: flex;
  gap: 50px;
  margin-top: 100px;
  margin-left: 175px;
}
.AfghanHounds {
  width: 240px;
  height: 325px;
  background-color: #e3f3f3;
  position: relative;
  top: 205px;
  left: 50px;
  border-radius: 15px;
}
.DogImage {
  width: 210px;
  height: 240px;
  position: relative;
  top: 10px;
  left: 15px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.DogImage:hover {
  transform: scale(1.1);
}
.AH {
  position: relative;
  top: 15px;
  left: -30px;
  align-content: center;
  text-align: center;
}
.Lifespan {
  position: relative;
  top: 15px;
  left: -30px;
  align-content: center;
  text-align: center;
  font-weight: normal;
  color: #a09c9c;
  font-size: medium;
}
.More {
  width: 75px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 145px;
  background-color: #e3f3f3;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
.AkitaDogs {
  width: 240px;
  height: 325px;
  background-color: #f6ebeb;
  position: relative;
  top: 205px;
  left: 50px;
  border-radius: 15px;
}
.DogImage1 {
  width: 210px;
  height: 240px;
  position: relative;
  top: 10px;
  left: 15px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.DogImage1:hover {
  transform: scale(1.1);
}
.AD {
  position: relative;
  top: 15px;
  left: -35px;
  align-content: center;
  text-align: center;
  font-size: 18px;
}
.More {
  width: 75px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 145px;
  background-color: #e3f3f3;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
.BassetHoundDog {
  width: 240px;
  height: 325px;
  background-color: #deddfd;
  position: relative;
  top: 205px;
  left: 50px;
  border-radius: 15px;
}
.DogImage2 {
  width: 210px;
  height: 240px;
  position: relative;
  top: 10px;
  left: 15px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.DogImage2:hover {
  transform: scale(1.1);
}
.BHD {
  position: relative;
  top: 15px;
  left: -26px;
  align-content: center;
  text-align: center;
  font-size: 22px;
}
.More {
  width: 75px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 145px;
  background-color: #e3f3f3;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
.BullDog {
  width: 240px;
  height: 325px;
  background-color: #e6d8f2;
  position: relative;
  top: 205px;
  left: 50px;
  border-radius: 15px;
}
.DogImage3 {
  width: 210px;
  height: 240px;
  position: relative;
  top: 10px;
  left: 15px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.DogImage3:hover {
  transform: scale(1.1);
}
.BD {
  position: relative;
  top: 15px;
  left: -35px;
  align-content: center;
  text-align: center;
  font-size: 18px;
}
.More {
  width: 75px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 145px;
  background-color: #e3f3f3;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
.AllPetsforRabbit {
  display: flex;
  gap: 50px;
  margin-top: 100px;
  margin-left: 175px;
}
.AlaskaSchwarzRabbit {
  width: 240px;
  height: 325px;
  background-color: #e6d8f2;
  position: relative;
  top: 205px;
  left: 50px;
  border-radius: 15px;
}
.RabbitImage {
  width: 210px;
  height: 240px;
  position: relative;
  top: 10px;
  left: 15px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.RabbitImage:hover {
  transform: scale(1.1);
}
.ASR {
  position: relative;
  top: 15px;
  left: -30px;
  align-content: center;
  text-align: center;
}
.Lifespan {
  position: relative;
  top: 15px;
  left: -30px;
  align-content: center;
  text-align: center;
  font-weight: normal;
  color: #a09c9c;
  font-size: medium;
}
.More {
  width: 75px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 155px;
  background-color: #e3f3f3;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
.AmericanRabbit {
  width: 240px;
  height: 325px;
  background-color: #e3f3f3;
  position: relative;
  top: 205px;
  left: 50px;
  border-radius: 15px;
}
.RabbitImage1 {
  width: 210px;
  height: 240px;
  position: relative;
  top: 10px;
  left: 15px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.RabbitImage1:hover {
  transform: scale(1.1);
}
.AR {
  position: relative;
  top: 15px;
  left: -10px;
  align-content: center;
  text-align: center;
  font-size: 18px;
}
.More {
  width: 75px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 155px;
  background-color: #e3f3f3;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
.AngoraRabbit {
  width: 240px;
  height: 325px;
  background-color: #f6ebeb;
  position: relative;
  top: 205px;
  left: 50px;
  border-radius: 15px;
}
.RabbitImage2 {
  width: 210px;
  height: 240px;
  position: relative;
  top: 10px;
  left: 15px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.RabbitImage2:hover {
  transform: scale(1.1);
}
.ANR {
  position: relative;
  top: 15px;
  left: -20px;
  align-content: center;
  text-align: center;
  font-size: 18px;
}
.More {
  width: 75px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 155px;
  background-color: #e3f3f3;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
.ArgenteRabbit {
  width: 240px;
  height: 325px;
  background-color: #deddfd;
  position: relative;
  top: 205px;
  left: 50px;
  border-radius: 15px;
}
.RabbitImage3 {
  width: 210px;
  height: 240px;
  position: relative;
  top: 10px;
  left: 15px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.RabbitImage3:hover {
  transform: scale(1.1);
}
.ARR {
  position: relative;
  top: 15px;
  left: -20px;
  align-content: center;
  text-align: center;
  font-size: 18px;
}
.More {
  width: 75px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 155px;
  background-color: #e3f3f3;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
.AllPetsforHamster {
  display: flex;
  gap: 50px;
  margin-top: 100px;
  margin-left: 175px;
}
.CampbellsRussianDrawf {
  width: 240px;
  height: 325px;
  background-color: #deddfd;
  position: relative;
  top: 205px;
  left: 50px;
  border-radius: 15px;
}
.HamsterImage {
  width: 210px;
  height: 240px;
  position: relative;
  top: 10px;
  left: 15px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.HamsterImage:hover {
  transform: scale(1.1);
}
.CRD {
  position: relative;
  top: 15px;
  left: -12px;
  align-content: center;
  text-align: center;
}
.Lifespan {
  position: relative;
  top: 15px;
  left: -30px;
  align-content: center;
  text-align: center;
  font-weight: normal;
  color: #a09c9c;
  font-size: medium;
}
.More {
  width: 75px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 155px;
  background-color: #e3f3f3;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
.ChineseHamster {
  width: 240px;
  height: 325px;
  background-color: #f6ebeb;
  position: relative;
  top: 205px;
  left: 50px;
  border-radius: 15px;
}
.HamsterImage1 {
  width: 210px;
  height: 240px;
  position: relative;
  top: 10px;
  left: 15px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.HamsterImage1:hover {
  transform: scale(1.1);
}
.CH {
  position: relative;
  top: 15px;
  left: -10px;
  align-content: center;
  text-align: center;
  font-size: 18px;
}
.More {
  width: 75px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 155px;
  background-color: #e3f3f3;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
.RoboDrawf {
  width: 240px;
  height: 325px;
  background-color: #e3f3f3;
  position: relative;
  top: 205px;
  left: 50px;
  border-radius: 15px;
}
.HamsterImage2 {
  width: 210px;
  height: 240px;
  position: relative;
  top: 10px;
  left: 15px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.HamsterImage2:hover {
  transform: scale(1.1);
}
.RD {
  position: relative;
  top: 15px;
  left: -20px;
  align-content: center;
  text-align: center;
  font-size: 18px;
}
.More {
  width: 75px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 155px;
  background-color: #e3f3f3;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
.SyrianHamster {
  width: 240px;
  height: 325px;
  background-color: #e6d8f2;
  position: relative;
  top: 205px;
  left: 50px;
  border-radius: 15px;
}
.HamsterImage3 {
  width: 210px;
  height: 240px;
  position: relative;
  top: 10px;
  left: 15px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.HamsterImage3:hover {
  transform: scale(1.1);
}
.SH {
  position: relative;
  top: 15px;
  left: -20px;
  align-content: center;
  text-align: center;
  font-size: 18px;
}
.More {
  width: 75px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 155px;
  background-color: #e3f3f3;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
.AllPetsforBirds {
  display: flex;
  gap: 50px;
  margin-top: 100px;
  margin-left: 175px;
}
.AfricanGrey {
  width: 240px;
  height: 325px;
  background-color: #e3f3f3;
  position: relative;
  top: 205px;
  left: 50px;
  border-radius: 15px;
}
.BirdImage {
  width: 210px;
  height: 240px;
  position: relative;
  top: 10px;
  left: 15px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.BirdImage:hover {
  transform: scale(1.1);
}
.AG {
  position: relative;
  top: 15px;
  left: -12px;
  align-content: center;
  text-align: center;
}
.Lifespan {
  position: relative;
  top: 15px;
  left: -30px;
  align-content: center;
  text-align: center;
  font-weight: normal;
  color: #a09c9c;
  font-size: medium;
}
.More {
  width: 75px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 155px;
  background-color: #e3f3f3;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
.ChatteringLory {
  width: 240px;
  height: 325px;
  background-color: #e3f3f3;
  position: relative;
  top: 205px;
  left: 50px;
  border-radius: 15px;
}
.BirdImage1 {
  width: 210px;
  height: 240px;
  position: relative;
  top: 10px;
  left: 15px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.BirdImage1:hover {
  transform: scale(1.1);
}
.CL {
  position: relative;
  top: 15px;
  left: -10px;
  align-content: center;
  text-align: center;
  font-size: 18px;
}
.More {
  width: 75px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 155px;
  background-color: #e3f3f3;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
.EclectusParrot {
  width: 240px;
  height: 325px;
  background-color: #e3f3f3;
  position: relative;
  top: 205px;
  left: 50px;
  border-radius: 15px;
}
.BirdImage2 {
  width: 210px;
  height: 240px;
  position: relative;
  top: 10px;
  left: 15px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.BirdImage2:hover {
  transform: scale(1.1);
}
.EP {
  position: relative;
  top: 15px;
  left: -20px;
  align-content: center;
  text-align: center;
  font-size: 18px;
}
.More {
  width: 75px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 155px;
  background-color: #e3f3f3;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
.GreyCocktiel {
  width: 240px;
  height: 325px;
  background-color: #e3f3f3;
  position: relative;
  top: 205px;
  left: 50px;
  border-radius: 15px;
}
.BirdImage3 {
  width: 210px;
  height: 240px;
  position: relative;
  top: 10px;
  left: 15px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.BirdImage3:hover {
  transform: scale(1.1);
}
.GC {
  position: relative;
  top: 15px;
  left: -20px;
  align-content: center;
  text-align: center;
  font-size: 18px;
}
.More {
  width: 75px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 155px;
  background-color: #e3f3f3;
  color: black;
  font-weight: normal;
  font-size: 20px;
}

.AllPetsforFish {
  display: flex;
  gap: 50px;
  margin-top: 100px;
  margin-left: 175px;
}
.CommonCrap {
  width: 240px;
  height: 325px;
  background-color: #e3f3f3;
  position: relative;
  top: 205px;
  left: 50px;
  border-radius: 15px;
}
.FishImage {
  width: 210px;
  height: 240px;
  position: relative;
  top: 10px;
  left: 15px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.FishImage:hover {
  transform: scale(1.1);
}
.CC {
  position: relative;
  top: 15px;
  left: -12px;
  align-content: center;
  text-align: center;
}
.Lifespan {
  position: relative;
  top: 15px;
  left: -30px;
  align-content: center;
  text-align: center;
  font-weight: normal;
  color: #a09c9c;
  font-size: medium;
}
.More {
  width: 75px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 155px;
  background-color: #e3f3f3;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
.SwordFish {
  width: 240px;
  height: 325px;
  background-color: #e3f3f3;
  position: relative;
  top: 205px;
  left: 50px;
  border-radius: 15px;
}
.FishImage1 {
  width: 210px;
  height: 240px;
  position: relative;
  top: 10px;
  left: 15px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.FishImage1:hover {
  transform: scale(1.1);
}
.SF {
  position: relative;
  top: 15px;
  left: -10px;
  align-content: center;
  text-align: center;
  font-size: 18px;
}
.More {
  width: 75px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 155px;
  background-color: #e3f3f3;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
.Oscar {
  width: 240px;
  height: 325px;
  background-color: #e3f3f3;
  position: relative;
  top: 205px;
  left: 50px;
  border-radius: 15px;
}
.FishImage2 {
  width: 210px;
  height: 240px;
  position: relative;
  top: 10px;
  left: 15px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.FishImage2:hover {
  transform: scale(1.1);
}
.O {
  position: relative;
  top: 15px;
  left: -20px;
  align-content: center;
  text-align: center;
  font-size: 18px;
}
.More {
  width: 75px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 155px;
  background-color: #e3f3f3;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
.GoldFish {
  width: 240px;
  height: 325px;
  background-color: #e3f3f3;
  position: relative;
  top: 205px;
  left: 50px;
  border-radius: 15px;
}
.FishImage3 {
  width: 210px;
  height: 240px;
  position: relative;
  top: 10px;
  left: 15px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.FishImage3:hover {
  transform: scale(1.1);
}
.GF {
  position: relative;
  top: 15px;
  left: -20px;
  align-content: center;
  text-align: center;
  font-size: 18px;
}
.More {
  width: 75px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 155px;
  background-color: #e3f3f3;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
.ScottishFold:hover,
.PersianCat:hover,
.Snoeshoe:hover,
.Shorthair:hover {
  height: 380px;
}
.AfghanHounds:hover,
.AkitaDogs:hover,
.BassetHoundDog:hover,
.BullDog:hover {
  height: 380px;
}
.AlaskaSchwarzRabbit:hover,
.AmericanRabbit:hover,
.AngoraRabbit:hover,
.ArgenteRabbit:hover {
  height: 380px;
}
.CampbellsRussianDrawf:hover,
.ChineseHamster:hover,
.RoboDrawf:hover,
.SyrianHamstert:hover {
  height: 380px;
}
.AfricanGrey:hover,
.ChatteringLory:hover,
.EclectusParrot:hover,
.GreyCocktiel:hover {
  height: 380px;
}
.CommonCrap:hover,
.SwordFish:hover,
.Oscar:hover,
.GoldFish:hover {
  height: 380px;
}
p {
  margin-top: -22px;
}
